.index__body{
    background-color: cadetblue;
}
.calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
}
.calculator-display{
    padding: 25px 0px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
    font-size: 20px;
}
.calculator-teclado{
    display: flex;
    width: 107%;
}
.numeros{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.numeros-bottones{
    width: 23%;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}
.numeros-bottones:hover{
    filter: brightness(80%);
    transition: filter .25s;
}
.yellow{
    background-color: yellow;
}
.large{
    width: 46.5%;
}

